*{
    box-sizing: border-box;
}
.container{
    width: 70%;
    padding: 20px;
}
input{
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none

}
input:focus{
    background-color: #ddf;
    border: none;

}
a{
    color: rgb(112, 41, 74);
}
.registerbtn{
    width: 50%;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    background-color: #37698a;
    color: white;
}
.registerbtn:hover{
    opacity: 0.5;
}